div.accountDetails

  if (user)

    if (user.local.email)
      div
        label
          |account: #{user.local.email}

    if (user.facebook.email)
      div
        label
          | account: #{user.facebook.email}
        label.oauth
          | logged in with
          span(class="fa fa-facebook")

    if (user.google.email)
      div
        label
          |account: #{user.google.email}
        label.oauth
          | logged in with
          span(class="fa fa-google")

    if (user.github.id)
      div
        label
          if (user.github.email)
            |account: #{user.github.email}
          else
            |account: #{user.github.name}
        label.oauth
          | logged in with
          span(class="fa fa-github-square")

    if (user)
      h4.userId#userId= user.id


    button(onclick="jspro.goto.logout()")
      | logout
